<div cdkDropListGroup>
  <div class="container">
    <h1>Box 1</h1>
    <div
      cdkDropList cdkDropListOrientation="horizontal"
      [cdkDropListData]="box1"
      class="list"
      (cdkDropListDropped)="drop($event)">
      @for (item of box1; track item) {
        <div class="box" cdkDrag>{{item}}</div>
      }
    </div>
  </div>

  <div class="container">
    <h1>Box 2</h1>
    <div
      cdkDropList cdkDropListOrientation="horizontal"
      [cdkDropListData]="box2"
      class="list"
      (cdkDropListDropped)="drop($event)">
      @for (item of box2; track item) {
        <div class="box" cdkDrag>{{item}}</div>
      }
    </div>
  </div>
</div>